/* Dash Icon Size - Dash styling */

/* Dash icon sizes */
.dash-icon-size-icon16 #dash StIcon { height: 16px; width: 16px; }
.dash-icon-size-icon24 #dash StIcon { height: 24px; width: 24px; }
.dash-icon-size-icon32 #dash StIcon { height: 32px; width: 32px; }
.dash-icon-size-icon40 #dash StIcon { height: 40px; width: 40px; }
.dash-icon-size-icon48 #dash StIcon { height: 48px; width: 48px; }
.dash-icon-size-icon56 #dash StIcon { height: 56px; width: 56px; }
.dash-icon-size-icon64 #dash StIcon { height: 64px; width: 64px; }
.dash-icon-size-icon72 #dash StIcon { height: 72px; width: 72px; }
.dash-icon-size-icon80 #dash StIcon { height: 80px; width: 80px; }
.dash-icon-size-icon96 #dash StIcon { height: 96px; width: 96px; }
.dash-icon-size-icon112 #dash StIcon { height: 112px; width: 112px; }
.dash-icon-size-icon128 #dash StIcon { height: 128px; width: 128px; }

/* Dash padding */
.dash-icon-size-padding0 #dash .dash-background { padding: 0px; }
.dash-icon-size-padding4 #dash .dash-background { padding: 4px; }
.dash-icon-size-padding8 #dash .dash-background { padding: 8px; }
.dash-icon-size-padding12 #dash .dash-background { padding: 12px; }
.dash-icon-size-padding16 #dash .dash-background { padding: 16px; }
.dash-icon-size-padding20 #dash .dash-background { padding: 20px; }
.dash-icon-size-padding24 #dash .dash-background { padding: 24px; }
.dash-icon-size-padding28 #dash .dash-background { padding: 28px; }
.dash-icon-size-padding32 #dash .dash-background { padding: 32px; }
